<html>
<head>
	<title>Call Me Maybe ;p</title>
	<script src = "https://static.vline.com/vline.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

</head>


<body>

	<h1>Call Me Maybe</h1>
	
	<input type="button" id="login" value="Login"><br>
  <input type="button" id="call" value="Call">

	<div style = "width: 80%; height: 80%; border: 1px solid blue; margin-left: auto; margin-right: 0px;"></div>

	<script src="call.js"></script>
</body>
</html>

